<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Index</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		
		<!--[if lte IE 8]><script src="static/js/html5shiv.js"></script><![endif]-->
		<script src="/js/jquery-1.11.1.min.js"></script>
		<script src="/js/skel.min.js"></script>
		<script src="/js/skel-panels.min.js"></script>
		<script src="/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/css/skel-noscript.css" />
			<link rel="stylesheet" href="/css/style.css" />
			<link rel="stylesheet" href="/css/style-desktop.css" />
			<link rel="stylesheet" href="/css/flat-ui.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie/v9.css" /><![endif]-->
	</head>
<body class="homepage">
<!-- Header -->
		<div id="header">
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Nanyin</a></h1>
					<span>Design by Nanyin</span>
				</div>
				
				<!-- Nav -->
				<nav id="nav">
					<ul>
						<li class="active"><a href="/">主页</a></li>
						<li><a href="/paper/pageList/1">文章列表</a></li>
						<li><a href="/resource/returnResource">分享</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<!-- Main -->
		<div id="main">
			<div class="container">
				<div class="row"> 
					
					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							<header>
								<h2>Welcome to myBlog!</h2>
								<span class="byline">Nanyin 的个人博客</span>
							</header>
							<a href="#" class="image full"><img src="/images/blog1.jpg" alt="" /></a>
							<p>Java 博客系统使用springboot快速开发框架 是一个<strong>简单易用</strong>的编写博客的系统</p>
                            <p>本项目github 地址：<a href="https://github.com/NanYinIU/myblog">https://github.com/NanYinIU/myblog</a> </p>
                            <p>我的CSDN博客地址：<a href="http://blog.csdn.net/ggx_g">http://blog.csdn.net/ggx_g</a></p>
						</section>
					</div>
					
					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						<section>
							<header>
								<h2>个人资料：</h2>
							</header>
							<ul class="style">
								<li>
									<p class="posted">July 24, 2017  | USE (4) Framework</p>
                                    <p class="posted">GitHub 地址  | <a href="https://github.com/NanYinIU/ssm-web-project">后台权限管理</a> </p>
									<img src="/images/github.jpg" alt="" style="width:70px" height="70px" />
									<p class="text">基于spring,springMVC,mybatis，shiro开发的<b>权限管理系统。</b> 开发环境

                                        -系统:ubuntu17 -IDE:intellJ IDEA -数据库:Mysql</p>
								</li>
								<li>
									<p class="posted"> 生日 |  September 19, 1995  </p>
									<img src="/images/dog.png" alt="" style="width:70px" height="70px" />
									<p class="posted">学生 &nbsp;| &nbsp;天津理工大学</p>
                                    <p class="posted">性别 &nbsp;| &nbsp;男   &nbsp;&nbsp;&nbsp;&nbsp;</p>
                                    <p class="posted">邮箱 &nbsp;| &nbsp; 1977713379@qq.com</p>
								</li>

							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>

		
	</body>
</html>