<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home</title>
<!-- Custom Theme files -->
<link href="/css/style-login.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

</head>
<body>
<div>
</div>
<div class="login">
	<div class="login-top">
		<h1>blog登录</h1>
		<form th:action="@{/editPaper}" method="post">
			<input type="text" value="User Id" id="name" name="name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}"/>
			<input type="password" value="password" id="password" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}"/>
	    <div class="forgot">
	    	<input type="submit" value="登录" />
	    </div>
        </form>
	</div>
</div>

</body>
</html>